.practice-2{
  max-width: 800px;
  width: 100%;
  margin: auto;
}
.table{
  width: 100%;
}
.table-head{
  display: table-header-group;
}
.table-row{
  color: inherit;
  display: table-row;
  outline: 0;
  vertical-align: middle;
}
.table-cell {
  display: table-cell;
  padding: 5px;
  font-size: 0.875rem;
  text-align: left;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  letter-spacing: 0.01071em;
  vertical-align: inherit;
}
.table-cell-head{
  color: rgba(0, 0, 0, 0.87);
  font-weight: 600;
  line-height: 1.5rem;
}
.icon{
  font-size: 12px;
  font-style: inherit;
  padding: 4px;
  font-weight: 400;
}
.icon.svg img{
  width: 10px;
  height: 10px;
}
.table .row{
  display: flex;
  justify-content: space-between;
}
.paginationWrapper{
  display: flex;
  align-items: center;
}
.pageItem,.separator{
  padding: 0 10px;
}
.pageItem{
  margin: 0 2px;
}
.add-new{
  cursor: pointer;
}
.pageItem.active{
  background-color: royalblue;
  color: #fff;
}